.main-head {
  margin: auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 17vh;
  flex-wrap: wrap;

  background-color: transparent;
  img {
    height: 9vw;
  }
  ul {
    @include flex(flex-end, center, row);
    flex: 1 1 20rem;
    a {
      color: $purple;
      margin: 0rem 5.2rem;
    }
  }
}

#selected {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $purple;
}

.home-links {
  color: white;
}
