.register-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr) 30vh;
  grid-template-areas:
    "text1 pic1"
    "pic2 text2"
    "regButton regButton";
  min-height: 83vh;
  position: relative;
  overflow: hidden;
  .string-fling-img {
    @include flex(center, center, column);
    justify-self: center;

    transform: translateX(20px);
    padding-top: 4vh;
    grid-area: pic1;
    img {
      width: 100%;
      //border-radius: 20px;
      box-shadow: -20px 20px $purple;
    }
  }
  .register-text {
    grid-area: text1;
    padding-right: 1vw;
    padding-left: 7vw;

    h1 {
      font-weight: 600;
      color: $purple;
      margin-top: 5vh;
      margin-bottom: 3vh;
    }

    #message {
      b {
        color: black;
      }
    }

    b {
      color: $purple;
    }
  }
  .register-online-text {
    grid-area: text2;
    padding: 0 8vh;
  }
  .bigOrchestra-img {
    transform: translateX(-9vw);
    //padding-top: 20vh;
    grid-area: pic2;
    img {
      margin-top: 15vh;
      height: 50%;
      width: 110%;
      box-shadow: 20px 20px $purple;
    }
  }
  .register-button {
    grid-area: regButton;
    border-radius: 20px;
    margin: 10vh 35vw;
    @include flex(center, center, center);
    font-size: 3.6rem;
    background-color: white;
    border: 0.4rem solid $purple;
    text-align: center;
    padding: 1vh 0;
  }
  .register-button:hover {
    background-color: $purple;
    color: white;
    cursor: pointer;
  }
}
