#schedule-nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}
#schedule-home-nav {
  position: absolute;
  width: 100%;
}

.schedule-page {
  @include flex(space-between, center, row);
  min-height: 100vh;
  flex-wrap: wrap;
  .buttons {
    @include flex(space-evenly, center, column);
    flex: 0 0 5rem;
    min-height: 100vh;
    width: 30.9vw;
    padding-top: 20vh;
    background-color: rgba(86, 86, 86, 1);
    .grade-buttons {
      border-radius: 20px;
      border: 0px;
      padding: 2rem 3rem;
      width: 20vw;
      font-weight: 500;
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
      text-align: center;
      background: linear-gradient(to left, white 50%, black 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.5s ease;
    }
    .grade-buttons:hover {
      background-position: left bottom;
      color: white;
    }
    #tab-selected {
      color: white;
      background: black;
    }
  }
  .events {
    @include flex(space-between, center, column);
    flex: 1 1 60rem;
    overflow-y: auto;
    height: 83vh;
    padding-top: 10vh;

    .headers {
      width: 100%;
      text-align: left;
      padding-left: 4rem;
      padding-top: 2rem;
      h2 {
        font-weight: 500;
      }
    }

    #home-events {
      overflow-y: none;
    }

    .horizontal-square {
      @include flex(center, center, row);
      border-radius: 20px;
      border: 2px solid $purple;
      height: 65vh;
      width: 50vw;
      position: absolute;
      opacity: 0.1;
      min-width: 50%;
      img {
        height: 100%;
        width: 80%;
      }
    }

    .vertical-square {
      @include flex(center, center, row);
      border-radius: 20px;
      border: 2px solid rgba(89, 43, 130, 0.1);
      height: 75vh;
      width: 45vw;
      min-width: 50%;
    }

    #home-text {
      color: black;
    }

    .event-box {
      @include flex(space-between, center, row);
      flex: 0 0 auto;
      flex-wrap: wrap;
      margin: 2rem;
      .times {
        text-align: right;
        width: 8vw;
        h3 {
          font-size: 1.7vw;
        }
        h4 {
          font-size: 1.3vw;
          color: rgba(115, 115, 115, 1);
        }
      }
      .event-button {
        border-radius: 20px;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
        border: 0px;
        border-left: 20px solid $purple;
        width: 45vw;
        padding: 1.5rem 3rem;
        background-color: white;
        margin-left: 4rem;
        font-size: 1.4vw;
        text-align: left;
      }
    }
  }
}
