$header1: 4.5vw;
$header2: 3.5vw;
$header3: 2vw;
$header4: 1.5rem;
$text: 2vw;
$purple: rgba(89, 43, 130, 1);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "_global";
@import "_nav";
@import "_footer";
@import "_home";
@import "_register";
@import "_instructors";
@import "_schedule";

@media screen and (max-width: 1145px) {
  .welcome {
    h2 {
      text-align: center;
    }
    .welcomeinfo {
      margin-bottom: 2vh;
    }
    .welcome-img {
      @include flex(center, center, row);
    }
    padding-top: 2vh;
  }
}

@media screen and (max-width: 1100px) {
  #schedule-home-nav {
    nav {
      .schedule-nav {
        color: white;
      }
    }
  }

  #schedule-nav {
    position: absolute;
    nav {
      .schedule-nav {
        color: white;
      }
    }
  }
  #schedule-selected {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid white;
  }

  .schedule-page {
    flex-direction: column;
    .buttons {
      flex-direction: row;
      width: 100%;
      min-height: 30vh;
      padding-top: 13rem;
      .grade-buttons {
        @include flex(center, center, row);
        min-height: 9rem;
      }
    }
    .events {
      min-height: 80vh;
      padding-bottom: 10vh;
      padding-top: 0;
      margin-top: 7rem;
      .vertical-square {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        height: 900px;
      }
    }
  }

  //Register
  .register-body {
    @include flex(space-between, center, column);
    h1 {
      text-align: center;
    }
    .string-fling-img {
      padding: 0;
      transform: translateX(0vw);
      img {
        margin-top: 4vh;
        margin-bottom: 4vh;
        height: 50%;
        width: 80%;
        box-shadow: -10px 10px $purple;
      }
    }
    .bigOrchestra-img {
      transform: translateX(0vw);
      padding: 2vh, 0;
      grid-area: pic2;
      @include flex(center, center, row);
      img {
        margin-top: 5vh;
        height: 50%;
        width: 80%;
        box-shadow: 10px -10px $purple;
      }
    }
    .register-button {
      width: 30vw;
      margin: 7vh 35vw;
    }
  }
  //Footer Responsiveness
  .footer-icons {
    a {
      #facebook,
      #website {
        margin: 0rem;
      }
      #website {
        margin-left: 5rem;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  //Nav
  nav {
    flex-direction: column;
    min-height: 10vh;
    img {
      height: 16vw;
    }
    ul {
      justify-content: space-evenly;
      width: 100%;
      flex: 1 1 5rem;
      a {
        font-size: 175%;
        margin: 0;
      }
    }
  }
  //Home
  .background-image {
    max-height: 80vh;
    .gradient {
      max-height: 100vh;
    }
  }
  .hero {
    .text {
      flex-direction: column;
      .left-side {
        flex: 1 1 20rem;
        padding-top: 15vh;
        #TitleTextTop,
        #TitleTextBottom,
        #DateText {
          padding: 0;
        }
      }
      .right-side {
        padding-bottom: 20rem;
        display: flex;
        align-items: flex-end;
        padding-left: 0;
        padding-bottom: 0;
      }
    }
    h1 {
      font-size: 6vw;
    }
    h3 {
      font-size: 3vw;
    }
    p,
    li {
      font-size: 3vw;
    }
  }

  .hello {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .info {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
  }
  .welcome {
    .welcomeinfo {
      padding-bottom: 2vh;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 5vh;
    }
  }

  .group-img {
    width: 80%;
  }
  //Schedule
  .schedule-page {
    .buttons {
      min-height: 35vh;
      top: 25rem;
      padding-top: 25rem;
      padding-bottom: 10rem;
    }
    .events {
      .headers {
        h2 {
          font-size: 500%;
        }
      }
      .event-box {
        .times {
          width: 15vw;
          h3,
          h4 {
            font-size: 250%;
          }
        }
        .event-button {
          font-size: 300%;
        }
      }
    }
  }
  //Instructors Responsiveness
  .main-body {
    .professionals {
      flex-direction: column;
      #prof-title {
        padding-top: 5rem;
        padding-bottom: 3rem;
      }
      .info-text {
        .card {
          margin: auto;
          margin-bottom: 3rem;
        }
      }
    }

    .students {
      flex-direction: column;
      height: 50vh;
      h2 {
        padding-top: 7rem;
        padding-bottom: 3rem;
      }
      .y-flip-card {
        height: 5vh;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  h2 {
    //font-size: 600%;
  }
  .buttons {
    a {
      font-size: 250%;
    }
    //margin-bottom: 20rem;
  }
  .schedule-page {
    .events {
      .horizontal-square {
        display: none;
      }
      .vertical-square {
        border: 0;
        width: 80%;
        background-image: url(../img/kLogoLight.png);
        background-size: cover;
        background-position: center;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  //Home
  .background-image {
    max-height: 80vh;
  }
  .hero {
    .text {
      .left-side {
        margin-top: 6vh;
      }
      .right-side {
        padding-bottom: 20rem;
        display: flex;
        align-items: flex-end;
      }
    }
  }
  .hello {
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 5rem;
    min-height: 20vh;
  }
  .welcome {
    .welcome-img {
      flex: 1 1 25rem;
    }
    .welcomeinfo {
      flex: 1 1 17rem;
      padding: 3rem 5rem;
      margin: 0;
    }
  }

  .info {
    padding: 3rem 8rem;
    .group-img {
      margin-bottom: 3rem;
      width: 100%;
    }
  }
  //Schedule
  .schedule-page {
    .buttons {
      min-height: 45vh;
      padding-top: 25rem;
      .grade-buttons {
        min-height: 13rem;
      }
    }
    .events {
      .headers {
        h2 {
          font-size: 500%;
        }
      }
      .event-box {
        .times {
          width: 25vw;
          h3,
          h4 {
            font-size: 200%;
          }
        }
        .event-button {
          font-size: 200%;
        }
      }
    }
  }
  //Instructors
  #stu-title,
  #prof-title {
    h2 {
      font-size: 6vw;
    }
  }
  .main-body {
    .professionals {
      #prof-title {
        padding-top: 3rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 120%;
  }
  h2 {
    font-size: 200%;
    text-align: center;
  }
  .hero {
    h1 {
      font-size: 400%;
    }
    h3 {
      font-size: 200%;
    }
  }

  .welcome {
    .welcome-img {
      #thisimage {
        width: 100%;
      }
    }
  }

  //Schedule
  .schedule-page {
    .events {
      min-height: 40vh;
      margin: 0;
      padding: 0;
      .vertical-square {
        background-size: 0 0;
        font-size: 300%;
      }
    }
  }
  .register-body {
    .register-text {
      padding-right: 3vw;
      padding-left: 3vw;
    }

    .register-online-text {
      padding-right: 3vw;
      padding-left: 3vw;
    }

    .register-button {
      font-size: 2.6rem;
      width: 50vw;
      margin: 7vh 35vw;
    }
  }
}

@media screen and (max-width: 415px) {
  nav {
    align-items: initial;
    .logo {
      width: 100%;
      img {
        height: 30vw;
        width: 100%;
      }
    }
  }
  li {
    font-size: 80%;
  }
  .hero {
    .text {
      .right-side {
        flex: 1 1 30rem;
      }
    }
  }
  .hello {
    padding: 4rem 5rem;
  }
  .welcome {
    .welcome-img {
      #thisimage {
        box-shadow: 10px 10px $purple;
      }
    }
    .welcomeinfo {
      margin-bottom: 1rem;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
  .info {
    padding: 4rem 5rem;
    li {
      font-size: 120%;
    }
    #crew-image {
      box-shadow: -10px 10px $purple;
    }
  }

  //schedule
  .schedule-page {
    .buttons {
      flex-direction: column;
      min-height: 80vh;
      padding-top: 15rem;
      padding-bottom: 0rem;
      .grade-buttons {
        min-height: 5rem;
        min-width: 80vw;
      }
    }
    .events {
      .headers {
        padding-left: 2rem;
        h2 {
          font-size: 300%;
        }
      }
      .event-box {
        margin: 1rem;
        .times {
          width: 15vw;
          h3,
          h4 {
            font-size: 100%;
          }
        }
        .event-button {
          padding-left: 1rem;
          min-width: 15rem;
          font-size: 100%;
          margin-left: 2rem;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}
