/* Global Styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4.5vw;
}

li,
button,
label,
input,
a,
p {
  font-size: 2vw;
}

h2 {
  font-size: 3.5vw;
  font-weight: 400;
  color: #592b82;
}

h3 {
  font-size: 2vw;
  font-weight: normal;
}

h4,
h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.main-head {
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 17vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: transparent;
}

nav img {
  height: 9vw;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

nav ul a {
  color: #592b82;
  margin: 0rem 5.2rem;
}

#selected {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #592b82;
}

.home-links {
  color: white;
}

footer {
  width: 100%;
  background-color: #565656;
  color: white;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer a {
  color: white;
  font-size: 1.5rem;
}

footer a:hover {
  color: #592b82;
}

footer #Orchestra {
  padding-bottom: 2rem;
}

footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-icons #facebook {
  margin: 0rem 5rem;
  height: 3rem;
  width: 3rem;
}

footer .footer-icons #website {
  margin: 0rem 5rem;
  height: 3rem;
  width: 3rem;
}

.background-image {
  min-height: 100vh;
  background-image: url("../img/Anderson.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gradient {
  background-color: rgba(0, 0, 0, 0.35);
}

.hero {
  min-height: 83vh;
  width: 100%;
  margin: auto;
  color: white;
}

.hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 60vh;
}

.hero .text h1 {
  font-weight: 400;
  letter-spacing: 0.45rem;
}

.hero .text .left-side {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
}

.hero .text .left-side #TitleTextTop {
  padding-right: 6vw;
}

.hero .text .left-side #TitleTextBottom {
  padding-left: 9vw;
}

.hero .text .right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: left;
  padding-left: 4vw;
  padding-top: 6vw;
}

.hello {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 20rem;
}

.welcome {
  min-height: 30vh;
  padding: 6rem 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.welcome .welcomeinfo {
  padding-left: 8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.welcome .welcome-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.welcome .welcome-img #thisimage {
  border-radius: 20px;
  -webkit-box-shadow: 20px 20px #592b82;
          box-shadow: 20px 20px #592b82;
  height: 80%;
  width: 80%;
}

.info {
  padding: 8rem 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info ul {
  list-style: disc;
  list-style-position: outside;
}

.info .text-section {
  padding-bottom: 5rem;
}

.info .group-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info #crew-image {
  border-radius: 20px;
  -webkit-box-shadow: -20px 20px #592b82;
          box-shadow: -20px 20px #592b82;
  width: 120%;
}

.register-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[2] 30vh;
      grid-template-rows: repeat(2, 1fr) 30vh;
      grid-template-areas: "text1 pic1" "pic2 text2" "regButton regButton";
  min-height: 83vh;
  position: relative;
  overflow: hidden;
}

.register-body .string-fling-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  padding-top: 4vh;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pic1;
}

.register-body .string-fling-img img {
  width: 100%;
  -webkit-box-shadow: -20px 20px #592b82;
          box-shadow: -20px 20px #592b82;
}

.register-body .register-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text1;
  padding-right: 1vw;
  padding-left: 7vw;
}

.register-body .register-text h1 {
  font-weight: 600;
  color: #592b82;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.register-body .register-text #message b {
  color: black;
}

.register-body .register-text b {
  color: #592b82;
}

.register-body .register-online-text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text2;
  padding: 0 8vh;
}

.register-body .bigOrchestra-img {
  -webkit-transform: translateX(-9vw);
          transform: translateX(-9vw);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pic2;
}

.register-body .bigOrchestra-img img {
  margin-top: 15vh;
  height: 50%;
  width: 110%;
  -webkit-box-shadow: 20px 20px #592b82;
          box-shadow: 20px 20px #592b82;
}

.register-body .register-button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: regButton;
  border-radius: 20px;
  margin: 10vh 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  font-size: 3.6rem;
  background-color: white;
  border: 0.4rem solid #592b82;
  text-align: center;
  padding: 1vh 0;
}

.register-body .register-button:hover {
  background-color: #592b82;
  color: white;
  cursor: pointer;
}

.main-body {
  min-height: 83vh;
  width: 90%;
  margin: 0 5% 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-body .professionals {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-body .professionals .info-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.main-body .professionals .info-text .card {
  height: 400px;
  width: 270px;
  margin: 20px 50px;
}

.main-body .professionals .info-text .card .front,
.main-body .professionals .info-text .card .back {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-flexbox;
  display: -webkit-flex;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  background-color: black;
}

.main-body .professionals .info-text .card .front h3,
.main-body .professionals .info-text .card .front h4,
.main-body .professionals .info-text .card .back h3,
.main-body .professionals .info-text .card .back h4 {
  color: white;
}

.main-body .professionals .info-text .card .front h3,
.main-body .professionals .info-text .card .back h3 {
  font-size: 25px;
}

.main-body .professionals .info-text .card .front h4,
.main-body .professionals .info-text .card .back h4 {
  font-size: 15px;
}

.main-body .professionals .info-text .card .front .name,
.main-body .professionals .info-text .card .back .name {
  padding-bottom: 30px;
}

.main-body .professionals .info-text .card .front p,
.main-body .professionals .info-text .card .back p {
  padding-top: 0.7rem;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  color: white;
  font-size: 1.5rem;
}

.main-body .professionals .info-text #bio-pic-cooper {
  border-radius: 2rem 2rem 0rem 0rem;
  width: 100%;
  height: 70%;
  background-image: url("../img/BioPics/Cooper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-body .professionals .info-text #bio-pic-dirks {
  border-radius: 2rem 2rem 0rem 0rem;
  width: 100%;
  height: 70%;
  background-image: url("../img/BioPics/Dirks.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-body .professionals .info-text #bio-pic-ben {
  border-radius: 2rem 2rem 0rem 0rem;
  width: 100%;
  height: 70%;
  background-image: url("../img/BioPics/ben.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-body .professionals .info-text #bio-pic-heather {
  border-radius: 2rem 2rem 0rem 0rem;
  width: 100%;
  height: 70%;
  background-image: url("../img/BioPics/heather.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-body .professionals .info-text #bio-pic-michael {
  border-radius: 2rem 2rem 0rem 0rem;
  width: 100%;
  height: 70%;
  background-image: url("../img/BioPics/michael.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-body .professionals .info-text #bio-pic-joe {
  border-radius: 2rem 2rem 0rem 0rem;
  width: 100%;
  height: 70%;
  background-image: url("../img/BioPics/joe.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-body .students {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.main-body .students #stu-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.main-body .students .y-flip-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.main-body .students .y-flip-card .back {
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  background-color: black;
}

.main-body .students .y-flip-card h3,
.main-body .students .y-flip-card h4 {
  color: white;
}

.main-body .students #group-picture {
  height: 100%;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

#schedule-nav {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

#schedule-home-nav {
  position: absolute;
  width: 100%;
}

.schedule-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.schedule-page .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 5rem;
          flex: 1 1 5rem;
  min-height: 100vh;
  width: 30.9vw;
  padding-top: 20vh;
  background-color: #565656;
}

.schedule-page .buttons .grade-buttons {
  border-radius: 20px;
  border: 0px;
  padding: 2rem 3rem;
  width: 20vw;
  font-weight: 500;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, white), color-stop(50%, black));
  background: linear-gradient(to left, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.schedule-page .buttons .grade-buttons:hover {
  background-position: left bottom;
  color: white;
}

.schedule-page .buttons #tab-selected {
  color: white;
  background: black;
}

.schedule-page .events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
  overflow-y: auto;
  height: 83vh;
  padding-top: 10vh;
}

.schedule-page .events .headers {
  width: 100%;
  text-align: left;
  padding-left: 4rem;
  padding-top: 2rem;
}

.schedule-page .events .headers h2 {
  font-weight: 500;
}

.schedule-page .events #home-events {
  overflow-y: none;
}

.schedule-page .events .horizontal-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 20px;
  border: 2px solid #592b82;
  height: 65vh;
  width: 50vw;
  position: absolute;
  opacity: 0.1;
  min-width: 50%;
}

.schedule-page .events .horizontal-square img {
  height: 100%;
  width: 80%;
}

.schedule-page .events .vertical-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 20px;
  border: 2px solid rgba(89, 43, 130, 0.1);
  height: 75vh;
  width: 45vw;
  min-width: 50%;
}

.schedule-page .events #home-text {
  color: black;
}

.schedule-page .events .event-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 9rem;
          flex: 1 1 9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem;
}

.schedule-page .events .event-box .times {
  text-align: right;
  width: 8vw;
}

.schedule-page .events .event-box .times h3 {
  font-size: 1.7vw;
}

.schedule-page .events .event-box .times h4 {
  font-size: 1.3vw;
  color: #737373;
}

.schedule-page .events .event-box .event-button {
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-left: 20px solid #592b82;
  width: 45vw;
  padding: 1.5rem 3rem;
  background-color: white;
  margin-left: 4rem;
  font-size: 1.4vw;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  #schedule-home-nav nav .schedule-nav {
    color: white;
  }
  #schedule-nav {
    position: absolute;
  }
  #schedule-nav nav .schedule-nav {
    color: white;
  }
  #schedule-selected {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid white;
  }
  .schedule-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .schedule-page .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    min-height: 30vh;
    padding-top: 13rem;
  }
  .schedule-page .buttons .grade-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 9rem;
  }
  .schedule-page .events {
    min-height: 80vh;
    padding-bottom: 10vh;
    padding-top: 0;
    margin-top: 7rem;
  }
  .schedule-page .events .vertical-square {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    height: 900px;
  }
  .register-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .register-body h1 {
    text-align: center;
  }
  .register-body .string-fling-img {
    padding: 0;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  .register-body .string-fling-img img {
    margin-top: 4vh;
    margin-bottom: 4vh;
    height: 50%;
    width: 80%;
    -webkit-box-shadow: -10px 10px #592b82;
            box-shadow: -10px 10px #592b82;
  }
  .register-body .bigOrchestra-img {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    padding: 2vh, 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: pic2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .register-body .bigOrchestra-img img {
    margin-top: 5vh;
    height: 50%;
    width: 80%;
    -webkit-box-shadow: 10px -10px #592b82;
            box-shadow: 10px -10px #592b82;
  }
  .register-body .register-button {
    width: 30vw;
    margin: 7vh 35vw;
  }
  .footer-icons a #facebook,
  .footer-icons a #website {
    margin: 0rem;
  }
  .footer-icons a #website {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 970px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 10vh;
  }
  nav img {
    height: 16vw;
  }
  nav ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 5rem;
            flex: 1 1 5rem;
  }
  nav ul a {
    font-size: 175%;
    margin: 0;
  }
  .background-image {
    max-height: 80vh;
  }
  .background-image .gradient {
    max-height: 100vh;
  }
  .hero .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .text .left-side {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
    padding-top: 15vh;
  }
  .hero .text .left-side #TitleTextTop,
  .hero .text .left-side #TitleTextBottom,
  .hero .text .left-side #DateText {
    padding: 0;
  }
  .hero .text .right-side {
    padding-bottom: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 0;
    padding-bottom: 0;
  }
  .hero h1 {
    font-size: 6vw;
  }
  .hero h3 {
    font-size: 3vw;
  }
  .hero p,
  .hero li {
    font-size: 3vw;
  }
  .hello {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .info {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
  }
  .welcome .welcomeinfo {
    padding-bottom: 2vh;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5vh;
  }
  .group-img {
    width: 80%;
  }
  .schedule-page .buttons {
    min-height: 35vh;
    top: 25rem;
    padding-top: 25rem;
    padding-bottom: 10rem;
  }
  .schedule-page .events .headers h2 {
    font-size: 500%;
  }
  .schedule-page .events .event-box .times {
    width: 15vw;
  }
  .schedule-page .events .event-box .times h3,
  .schedule-page .events .event-box .times h4 {
    font-size: 250%;
  }
  .schedule-page .events .event-box .event-button {
    font-size: 300%;
  }
  .main-body .professionals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-body .professionals #prof-title {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .main-body .professionals .info-text .card {
    margin: auto;
    margin-bottom: 3rem;
  }
  .main-body .students {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25rem;
            flex: 1 1 25rem;
  }
  .main-body .students h2 {
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
  .main-body .students .y-flip-card {
    height: 5vh;
  }
}

@media screen and (max-width: 850px) {
  h2 {
    font-size: 600%;
  }
  .buttons a {
    font-size: 250%;
  }
  .schedule-page .events .horizontal-square {
    display: none;
  }
  .schedule-page .events .vertical-square {
    border: 0;
    width: 80%;
    background-image: url(../img/kLogoLight.png);
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 700px) {
  .background-image {
    max-height: 80vh;
  }
  .hero .text .left-side {
    margin-top: 6vh;
  }
  .hero .text .right-side {
    padding-bottom: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hello {
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 5rem;
    min-height: 20vh;
  }
  .welcome .welcome-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25rem;
            flex: 1 1 25rem;
  }
  .welcome .welcomeinfo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 17rem;
            flex: 1 1 17rem;
    padding: 3rem 5rem;
    margin: 0;
  }
  .info {
    padding: 3rem 8rem;
  }
  .info .group-img {
    margin-bottom: 3rem;
    width: 100%;
  }
  .schedule-page .buttons {
    min-height: 45vh;
    padding-top: 25rem;
  }
  .schedule-page .buttons .grade-buttons {
    min-height: 13rem;
  }
  .schedule-page .events .headers h2 {
    font-size: 500%;
  }
  .schedule-page .events .event-box .times {
    width: 25vw;
  }
  .schedule-page .events .event-box .times h3,
  .schedule-page .events .event-box .times h4 {
    font-size: 200%;
  }
  .schedule-page .events .event-box .event-button {
    font-size: 200%;
  }
  #stu-title h2,
  #prof-title h2 {
    font-size: 6vw;
  }
  .main-body .professionals #prof-title {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 120%;
  }
  h2 {
    font-size: 200%;
    text-align: center;
  }
  .hero h1 {
    font-size: 400%;
  }
  .hero h3 {
    font-size: 200%;
  }
  .welcome .welcome-img #thisimage {
    width: 100%;
  }
  .schedule-page .events {
    min-height: 40vh;
    margin: 0;
    padding: 0;
  }
  .schedule-page .events .vertical-square {
    background-size: 0 0;
    font-size: 300%;
  }
  .register-body .register-text {
    padding-right: 3vw;
    padding-left: 3vw;
  }
  .register-body .register-online-text {
    padding-right: 3vw;
    padding-left: 3vw;
  }
  .register-body .register-button {
    font-size: 2.6rem;
    width: 50vw;
    margin: 7vh 35vw;
  }
}

@media screen and (max-width: 415px) {
  nav {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  nav .logo {
    width: 100%;
  }
  nav .logo img {
    height: 30vw;
    width: 100%;
  }
  li {
    font-size: 80%;
  }
  .hero .text .right-side {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
  .hello {
    padding: 4rem 5rem;
  }
  .welcome .welcome-img #thisimage {
    -webkit-box-shadow: 10px 10px #592b82;
            box-shadow: 10px 10px #592b82;
  }
  .welcome .welcomeinfo {
    margin-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .info {
    padding: 4rem 5rem;
  }
  .info li {
    font-size: 120%;
  }
  .info #crew-image {
    -webkit-box-shadow: -10px 10px #592b82;
            box-shadow: -10px 10px #592b82;
  }
  .schedule-page .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 80vh;
    padding-top: 15rem;
    padding-bottom: 0rem;
  }
  .schedule-page .buttons .grade-buttons {
    min-height: 5rem;
    min-width: 80vw;
  }
  .schedule-page .events .headers {
    padding-left: 2rem;
  }
  .schedule-page .events .headers h2 {
    font-size: 300%;
  }
  .schedule-page .events .event-box {
    margin: 1rem;
  }
  .schedule-page .events .event-box .times {
    width: 15vw;
  }
  .schedule-page .events .event-box .times h3,
  .schedule-page .events .event-box .times h4 {
    font-size: 100%;
  }
  .schedule-page .events .event-box .event-button {
    padding-left: 1rem;
    min-width: 15rem;
    font-size: 100%;
    margin-left: 2rem;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  }
}
/*# sourceMappingURL=style.css.map */