footer {
  width: 100%;
  background-color: rgba(86, 86, 86, 1);
  color: white;
  padding: 2rem 3rem;
  @include flex(space-between, center, row);
  a {
    color: white;
    font-size: 1.5rem;
  }
  a:hover {
    color: $purple;
  }
  #Orchestra {
    padding-bottom: 2rem;
  }
  .footer-icons {
    @include flex(center, flex-end, row);
    #facebook {
      margin: 0rem 5rem;
      height: 3rem;
      width: 3rem;
    }
    #website {
      margin: 0rem 5rem;
      height: 3rem;
      width: 3rem;
    }
  }
}
