.background-image {
  min-height: 100vh;
  background-image: url("..//img/Anderson.jpg");
  background-size: 100vh;
  background-repeat: no-repeat;
}
.hero {
  min-height: 83vh;
  width: 100%;
  margin: auto;
}
