.background-image {
  min-height: 100vh;
  background-image: url("..//img/Anderson.jpeg");
  background-size: cover;
  background-position: center;
}
.gradient {
  background-color: rgba(0, 0, 0, 0.35);
}
.hero {
  min-height: 83vh;
  width: 100%;
  margin: auto;
  color: white;

  .text {
    @include flex(space-between, center, row);
    h1,
    h2 {
      font-weight: 400;
      letter-spacing: 0.45rem;
    }
    .left-side {
      flex: 1 1 40rem;
      text-align: center;
      #TitleTextTop {
        padding-right: 8rem;
      }
      #TitleTextBottom {
        padding-left: 9rem;
      }
    }
    .right-side {
      flex: 1 1 40rem;
      text-align: left;
      padding-left: 8rem;
      padding-top: 9rem;
    }
    min-height: 60vh;
  }
}

.hello {
  min-height: 40vh;
  @include flex(center, center, column);
  padding: 8rem 20rem;
}

.welcome {
  min-height: 30vh;
  padding: 6rem 15rem;
  @include flex(space-between, center, row);
  flex-wrap: wrap;
  .welcomeinfo {
    padding-left: 8rem;
    flex: 1 1 40rem;
  }
  .welcome-img {
    flex: 1 1 40rem;

    #thisimage {
      border-radius: 20px;
      box-shadow: 20px 20px $purple;
      height: 80%;
      width: 80%;
    }
  }
}

.info {
  padding: 8rem 15rem;

  @include flex(center, center, column);
  ul {
    list-style: disc;
    list-style-position: outside;
  }
  .text-section {
    padding-bottom: 5rem;
  }
  #crew-image {
    border-radius: 20px;
    box-shadow: -20px 20px $purple;
  }
}
