.background-image {
  min-height: 100vh;
  background-image: url("..//img/Anderson.jpg");
  background-size: cover;
  background-position: center;
}
.gradient {
  background-color: rgba(0, 0, 0, 0.25);
}
.hero {
  min-height: 83vh;
  width: 100%;
  margin: auto;
  .text {
    @include flex(space-between, center, row);
    .left-side {
      flex: 1 1 40rem;
      text-align: center;
    }
    .right-side {
      flex: 1 1 40rem;
      text-align: center;
    }

    min-height: 60vh;
  }
}
