.info-text {
  min-height: 83vh;
  width: 90%;
  margin: 0 5% 5% 5%;

  display: grid;
  grid-template-columns: 25vw repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  #prof-title {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
  }

  .scene {
    perspective: 600px;
  }

  .card {
    min-height: 40vh;
    height: 40vh;
    margin: 2rem 5rem;

    .front,
    .back {
      @include flex(space-between, center, column);
      text-align: center;
      flex: 1 1 25rem;
      border-radius: 2rem;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 20px 20px rgba(0, 0, 0, 0.1);
      background-color: black;
      h3,
      h4 {
        color: white;
      }

      h3 {
        font-size: 2rem;
      }

      .name {
        padding-bottom: 2.5rem;
      }

      p {
        padding-top: 0.7rem;
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        color: white;
        font-size: 1.2rem;
      }
    }
  }

  #cooper {
    grid-row: 1;
    grid-column: 2;
  }
  #bio-pic-cooper {
    border-radius: 2rem 2rem 0rem 0rem;
    width: 100%;
    height: 70%;
    background-image: url("..//img/BioPics/Cooper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #dirks {
    grid-row: 1;
    grid-column: 3;
  }
  #bio-pic-dirks {
    border-radius: 2rem 2rem 0rem 0rem;
    width: 100%;
    height: 70%;
    background-image: url("..//img/BioPics/Dirks.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #ben {
    grid-row: 1;
    grid-column: 4;
  }
  #bio-pic-ben {
    border-radius: 2rem 2rem 0rem 0rem;
    width: 100%;
    height: 70%;
    background-image: url("..//img/BioPics/ben.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #heather {
    grid-row: 2;
    grid-column: 2;
  }
  #bio-pic-heather {
    border-radius: 2rem 2rem 0rem 0rem;
    width: 100%;
    height: 70%;
    background-image: url("..//img/BioPics/ben.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #mariachi {
    grid-row: 2;
    grid-column: 3;
  }
  #bio-pic-mariachi {
    border-radius: 2rem 2rem 0rem 0rem;
    width: 100%;
    height: 70%;
    background-image: url("..//img/BioPics/ben.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #fiddle {
    grid-row: 2;
    grid-column: 4;
  }
  #bio-pic-fiddle {
    border-radius: 2rem 2rem 0rem 0rem;
    width: 100%;
    height: 70%;
    background-image: url("..//img/BioPics/ben.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #stu-title {
    grid-row: 3;
    grid-column: 1;
    align-self: center;
  }

  #group-picture {
    grid-row: 3;
    grid-column: 2 / 5;
    align-self: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
  }
}
