.main-body {
  min-height: 83vh;
  width: 90%;
  margin: 0 5% 5% 5%;

  @include flex(space-between, center, column);

  .professionals {
    width: 100%;
    flex: 1 1 40rem;
    @include flex(space-between, center, row);

    #prof-title {
      flex: 0 0 30%;
    }

    .info-text {
      flex: 1 1 40rem;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

      .card {
        height: 400px;
        width: 270px;
        margin: 20px 50px;

        .front,
        .back {
          @include flex(space-between, center, column);
          text-align: center;
          flex: 1 1 25rem;
          border-radius: 20px;
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
            0px 20px 20px rgba(0, 0, 0, 0.1);
          background-color: black;
          h3,
          h4 {
            color: white;
          }

          h3 {
            font-size: 25px;
          }
          h4 {
            font-size: 15px;
          }

          .name {
            padding-bottom: 30px;
          }

          p {
            padding-top: 0.7rem;
            padding-right: 0.1rem;
            padding-left: 0.1rem;
            color: white;
            font-size: 1.2rem;
          }
        }
      }

      #bio-pic-cooper {
        border-radius: 2rem 2rem 0rem 0rem;
        width: 100%;
        height: 70%;
        background-image: url("..//img/BioPics/Cooper.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      #bio-pic-dirks {
        border-radius: 2rem 2rem 0rem 0rem;
        width: 100%;
        height: 70%;
        background-image: url("..//img/BioPics/Dirks.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      #bio-pic-ben {
        border-radius: 2rem 2rem 0rem 0rem;
        width: 100%;
        height: 70%;
        background-image: url("..//img/BioPics/ben.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      #bio-pic-heather {
        border-radius: 2rem 2rem 0rem 0rem;
        width: 100%;
        height: 70%;
        background-image: url("..//img/BioPics/heather.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      #bio-pic-michael {
        border-radius: 2rem 2rem 0rem 0rem;
        width: 100%;
        height: 70%;
        background-image: url("..//img/BioPics/michael.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      #bio-pic-joe {
        border-radius: 2rem 2rem 0rem 0rem;
        width: 100%;
        height: 70%;
        background-image: url("..//img/BioPics/joe.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .students {
    flex: 1 1 40rem;
    width: 100%;
    @include flex(space-between, center, row);
    #stu-title {
      flex: 0 0 30%;
    }
    .y-flip-card {
      flex: 1 1 70%;

      .back {
        border-radius: 20px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
          0px 20px 20px rgba(0, 0, 0, 0.1);
        background-color: black;
      }
      h3,
      h4 {
        color: white;
      }
    }
    #group-picture {
      height: 100%;
      width: 100%;
      align-self: center;
      border-radius: 20px;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 20px 20px rgba(0, 0, 0, 0.1);
    }
  }
}
