.register-body {
  @include flex(space-between, center, row);
  max-height: 83vh;
  flex-wrap: wrap;
  .glasses-img {
    flex: 1 1 40rem;
  }
  img {
    width: 100%;
    border-radius: 20px;
    box-shadow: -20px 20px $purple;
  }
  .register-text {
    flex: 1 1 40rem;
    padding: 0rem 20rem;
    h1 {
      font-weight: 600;
      color: $purple;
    }
    p {
      padding: 5rem 0rem;
    }
    button {
    }
  }
}
