.register-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr) 10vh;
  grid-template-areas:
    "text1 pic1"
    ". ."
    "regButton regButton";
  min-height: 83vh;
  margin-bottom: 5vh;
  position: relative;
  overflow: hidden;
  .glasses-img {
    flex: 1 1 40rem;
    transform: translateX(15rem);
    padding-bottom: 5rem;
    grid-area: pic1;
  }
  img {
    width: 100%;
    border-radius: 20px;
    box-shadow: -20px 20px $purple;
  }
  .register-text {
    grid-area: text1;
    flex: 1 1 40rem;
    padding-right: 10rem;
    padding-left: 15rem;
    padding-bottom: 5rem;

    @include flex(space-between, left, column);

    h1 {
      font-weight: 600;
      color: $purple;
    }
    p {
      padding: 2.5rem 0rem;
    }
  }
  .register-button {
    grid-area: regButton;
    border-radius: 20px;
    margin: 0 35vw;
    font-size: 3.6rem;
    background-color: white;
    border: 0.4rem solid $purple;
  }
  .register-button:hover {
    background-color: $purple;
    color: white;
    cursor: pointer;
  }
}
