$header1: 4.5vw;
$header2: 3.5vw;
$header3: 2vw;
$header4: 1.5rem;
$text: 2vw;
$purple: rgba(89, 43, 130, 1);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "_global";
@import "_nav";
@import "_footer";
@import "_home";
@import "_register";
@import "_instructors";
@import "_schedule";

@media screen and (max-width: 1100px) {
  .welcome {
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;
    .welcomeinfo {
      padding: 8vh 15vw 0 15vw;
      max-height: 20vh;
      h2 {
        text-align: center;
      }
    }
    .welcome-img {
      @include flex(center, center, row);
    }
  }
}

@media screen and (max-width: 1045px) {
  nav {
    flex-direction: column;
    min-height: 10vh;
    ul {
      justify-content: space-evenly;
      width: 100%;
      a {
        font-size: 175%;
        margin: 0;
      }
    }
  }
  .hero {
    .text {
      flex-direction: column;
      .left-side {
        flex: 1 1 20rem;
        padding-top: 8vh;
        #TitleTextTop,
        #TitleTextBottom,
        #DateText {
          padding: 0;
        }
      }
      .right-side {
        padding: 7vh 0 0 0;
      }
    }
    h1 {
      font-size: 8.5vw;
    }
    h3 {
      font-size: 4vw;
    }
  }
  .hello {
    padding: 0;
  }
}
