$header1: 7.2rem;
$header2: 4.8rem;
$header3: 3.6rem;
$header4: 2.4rem;
$text: 2.5rem;
$purple: rgba(89, 43, 130, 1);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "_global";
@import "_nav";
@import "_footer";
@import "_home";
@import "_register";
