/* Global Styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 7.2rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4.8rem;
  font-weight: 400;
  color: #592b82;
}

h3 {
  font-size: 3.6rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.main-head {
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 17vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: transparent;
}

nav img {
  height: 17vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

nav ul a {
  color: #592b82;
  margin: 0rem 5.2rem;
}

#selected {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #592b82;
}

.home-links {
  color: white;
}

footer {
  width: 100%;
  background-color: #565656;
  color: white;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer a {
  color: white;
  font-size: 1.5rem;
}

footer a:hover {
  color: #592b82;
}

footer #Orchestra {
  padding-bottom: 2rem;
}

footer .footer-icons #facebook {
  margin: 0rem 5rem;
  height: 3rem;
  width: 3rem;
}

footer .footer-icons #website {
  margin: 0rem 5rem;
  height: 3rem;
  width: 3rem;
}

.background-image {
  min-height: 100vh;
  background-image: url("..//img/Anderson.jpg");
  background-size: cover;
  background-position: center;
}

.gradient {
  background-color: rgba(0, 0, 0, 0.35);
}

.hero {
  min-height: 83vh;
  width: 100%;
  margin: auto;
  color: white;
}

.hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 60vh;
}

.hero .text h1,
.hero .text h2 {
  font-weight: 400;
  letter-spacing: 0.45rem;
}

.hero .text .left-side {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
}

.hero .text .left-side #TitleTextTop {
  padding-right: 8rem;
}

.hero .text .left-side #TitleTextBottom {
  padding-left: 9rem;
}

.hero .text .right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: left;
  padding-left: 8rem;
  padding-top: 9rem;
}

.hello {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 20rem;
}

.welcome {
  min-height: 30vh;
  padding: 6rem 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.welcome .welcomeinfo {
  padding-left: 8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.welcome .welcome-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.welcome .welcome-img #thisimage {
  border-radius: 20px;
  -webkit-box-shadow: 20px 20px #592b82;
          box-shadow: 20px 20px #592b82;
  height: 80%;
  width: 80%;
}

.info {
  padding: 8rem 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info ul {
  list-style: disc;
  list-style-position: outside;
}

.info .text-section {
  padding-bottom: 5rem;
}

.info #crew-image {
  border-radius: 20px;
  -webkit-box-shadow: -20px 20px #592b82;
          box-shadow: -20px 20px #592b82;
}

.register-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 83vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.register-body .glasses-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-transform: translateX(15rem);
          transform: translateX(15rem);
  padding-bottom: 5rem;
}

.register-body img {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: -20px 20px #592b82;
          box-shadow: -20px 20px #592b82;
}

.register-body .register-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding-right: 20rem;
  padding-left: 15rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-body .register-text h1 {
  font-weight: 600;
  color: #592b82;
}

.register-body .register-text p {
  padding: 2.5rem 0rem;
}

.register-body .register-text .register-button {
  border-radius: 20px;
  padding: 2rem 0rem;
  font-size: 3.6rem;
  background-color: white;
  border: 0.4rem solid #592b82;
}

.register-body .register-text .register-button:hover {
  background-color: #592b82;
  color: white;
  cursor: pointer;
}

.info-text {
  min-height: 83vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-text .Professionals .professionals-card-view .card {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-text .Professionals .professionals-card-view .card .img {
  width: 2rem;
  height: 2rem;
}

#schedule-logo {
  background-color: #565656;
  width: 43.05vw;
}

.schedule-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 83vh;
}

.schedule-page .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  min-height: 83vh;
  background-color: #565656;
}

.schedule-page .buttons .grade-buttons {
  border-radius: 20px;
  border: 0px;
  padding: 2rem 6rem;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
}

.schedule-page .buttons #second-button {
  padding: 2rem 8.85rem;
}

.schedule-page .events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}
/*# sourceMappingURL=style.css.map */