$header1: 4.5vw;
$header2: 3.5vw;
$header3: 2vw;
$header4: 1.5rem;
$text: 2vw;
$purple: rgba(89, 43, 130, 1);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "_global";
@import "_nav";
@import "_footer";
@import "_home";
@import "_register";
@import "_instructors";
@import "_schedule";

@media screen and (max-width: 1420px) {
  .schedule-nav {
    color: white;
    border-color: white;
  }
  #schedule-selected {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid white;
  }

  .schedule-page {
    flex-direction: column;
    .buttons {
      flex-direction: row;
      width: 100%;
      min-height: 30vh;
      padding-bottom: 7vh;
      .grade-buttons {
        @include flex(center, center, row);
        min-height: 9rem;
      }
    }
    .events {
      min-height: 80vh;
      padding-bottom: 10vh;
      padding-top: 0;
      margin-top: 7rem;
      .vertical-square {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        height: 900px;
      }
    }
  }
}

@media screen and (max-width: 1145px) {
  nav {
  }
  .welcome {
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;
    .welcomeinfo {
      padding: 8vh 15vw 0vh 15vw;
      max-height: 20vh;
      margin-bottom: 10vh;
      h2 {
        text-align: center;
      }
    }
    .welcome-img {
      @include flex(center, center, row);
    }
  }
}

@media screen and (max-width: 1045px) {
  //Nav
  nav {
    flex-direction: column;
    min-height: 10vh;
    ul {
      justify-content: space-evenly;
      width: 100%;
      flex: 1 1 5rem;
      a {
        font-size: 175%;
        margin: 0;
      }
    }
  }
  //Home
  .background-image {
    max-height: 80vh;
    .gradient {
      max-height: 100vh;
    }
  }
  .hero {
    .text {
      flex-direction: column;
      .left-side {
        flex: 1 1 20rem;
        padding-top: 15vh;
        #TitleTextTop,
        #TitleTextBottom,
        #DateText {
          padding: 0;
        }
      }
      .right-side {
        padding-bottom: 20rem;
        display: flex;
        align-items: flex-end;
        padding-left: 0;
        padding-bottom: 0;
      }
    }
    h1 {
      font-size: 6vw;
    }
    h3 {
      font-size: 3vw;
    }
    p,
    li {
      font-size: 3vw;
    }
  }

  .hello {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .info {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
  }
  .welcome {
    .welcomeinfo {
      padding-bottom: 2vh;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 5vh;
    }
  }

  .group-img {
    width: 80%;
  }
  //Schedule
  .schedule-nav {
    position: relative;
  }
  .schedule-page {
    .buttons {
      padding-top: 30rem;
    }
  }
  //Instructors Responsiveness
  .main-body {
    .professionals {
      flex-direction: column;
      #prof-title {
        padding-top: 5rem;
        padding-bottom: 3rem;
      }
      .info-text {
        .card {
          margin: auto;
          margin-bottom: 3rem;
        }
      }
    }

    .students {
      flex-direction: column;
      flex: 1 1 25rem;
      h2 {
        padding-top: 7rem;
        padding-bottom: 3rem;
      }
      .y-flip-card {
        height: 5vh;
      }
    }
  }

  //Footer Responsiveness
  .footer-icons {
    a {
      #facebook,
      #website {
        margin: 0rem;
      }
      #website {
        margin-left: 5rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  //Home
  .background-image {
    max-height: 80vh;
  }
  .hero {
    .text {
      .left-side {
        margin-top: 6vh;
      }
      .right-side {
        padding-bottom: 20rem;
        display: flex;
        align-items: flex-end;
      }
    }
  }
  .hello {
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 5rem;
    min-height: 20vh;
  }
  .welcome {
    .welcome-img {
      flex: 1 1 25rem;
    }
    .welcomeinfo {
      flex: 1 1 17rem;
      padding: 3rem 5rem;
      margin: 0;
    }
  }

  .info {
    padding: 3rem 8rem;
    .group-img {
      margin-bottom: 3rem;
      width: 100%;
    }
  }
  //Instructor
  #stu-title,
  #prof-title {
    h2 {
      font-size: 6vw;
    }
  }
  .main-body {
    .professionals {
      #prof-title {
        padding-top: 3rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 120%;
  }
  h2 {
    font-size: 200%;
    text-align: center;
  }
  .hero {
    h1 {
      font-size: 400%;
    }
    h3 {
      font-size: 200%;
    }
  }

  .welcome {
    .welcome-img {
      #thisimage {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  nav {
    align-items: initial;
    .logo {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  li {
    font-size: 80%;
  }
  .hero {
    .text {
      .right-side {
        flex: 1 1 30rem;
      }
    }
  }
  .hello {
    padding: 4rem 5rem;
  }
  .welcome {
    .welcome-img {
      #thisimage {
        box-shadow: 10px 10px $purple;
      }
    }
    .welcomeinfo {
      margin-bottom: 1rem;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
  .info {
    padding: 4rem 5rem;
    li {
      font-size: 120%;
    }
    #crew-image {
      box-shadow: -10px 10px $purple;
    }
  }
}
